<% layout('layouts/boilerplate') %>

<div class="home-container" style="position: relative; text-align: center; width: 100%;">
    <img src="https://images.pexels.com/photos/60217/pexels-photo-60217.jpeg?auto=compress&cs=tinysrgb&w=600" alt="Front Image" style="width: 100%; height: auto;">
    <h2 style="position: absolute; top: 20%; left: 50%; transform: translate(-50%, -50%); color: white;">AirBnb</h2>
    <p style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); color: white;">Welcome to the Airbnb clone homepage. Browse and book your favorite properties.</p>
</div>


