<% layout('layouts/boilerplate') %>
    <!-- <form method="get" action="/listings/new">
        <button type="submit">Add new </button>
    </form> -->
    <div class="row row-cols-lg-4 row-cols-md-3 row-cols-sm-1 justify-content-center">
        <% for(list of AllList){ %>
            <a href="/listings/<%= list._id %>" class="listings-link">
            <div class="card col" >
                <img src="<%= list.image %>" class="card-img-top" alt="image not supported" style="height: 18rem;">
                <div class="card-img-overlay">Am!t</div>
                <div class="card-body">
                  <p class="card-text">
                      <b><%= list.title %> </b><br/>
                      <% if (list.price !== undefined && list.price !== null) { %>
                          &#8377; <%= list.price.toLocaleString("en-IN") %>/night 
                      <% } else { %>
                          Price Not Available
                      <% } %>
                  </p>
              </div>
              </div>
            </a>
              <%} %>
    </div>
   
