body{
    font-family: "Roboto", sans-serif !important;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}
.container{
    flex: 1;
    min-height: 100vh;
}
 .navbar{
    height: 5rem;
    background-color: white;
 }
.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}
.nav-link{
    color: #222222 !important;
}
.f-info-links a{
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links{
    width: 100%;
    display: flex;
    justify-content: center;
}
.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.f-info{
    text-align: center;
    padding: 2rem;
    /* height: 5rem; */
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;

}

.card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.card-text p{
        font-weight: 400;
}
.listings-link{
    text-decoration: none;
}

.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
/* add button */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}
.add-btn:hover{
    background-color: #ff0011 !important;
}

/* Edit page */
.edit-btn{
    background-color: #34c0b0 !important;
    border: none !important;
}
.edit-btn:hover{
    background-color: #00a390 !important;
}
.form-label {
    font-weight: 500; /* Semibold */
}
/* show image */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}
.fixed-hr {
    position: fixed;
    top: 56px; /* Adjust this value to match the height of your navbar */
    width: 100%;
    border: none;
    border-top: 1px solid #ccc; /* Adjust color and style as needed */
    z-index: 1; /* Ensure the hr appears above other content */
}